# runtime requirements
Cython
numpy>=1.23.5
tqdm>=4.62.3
typing_extensions>=4.10.0
cloudpickle
ml_dtypes
psutil
torch
pybind11
pytest
pytest-xdist
pytest-forked
pandas
matplotlib
PyYAML
decorator 
absl-py 
attrs 
scipy 
tornado
torch-npu
